body {
  background-color: black;
  color: white;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

.leaderboard {
  width: 70%;
  border-collapse: collapse;
}

.leaderboard th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.leaderboard tr:nth-child(even) {
  background-color: rgb(159, 161, 159);
  color: white;
}

.report_table {
  width: 70%;
  border-collapse: collapse;
}

.report_table th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.report_table tr:nth-child(even) {
  background-color: rgb(159, 161, 159);
  color: white;
}

li {
  margin: 4px;
}

select {
  margin-right: 10px;
}

img {
  height: 45px;
  width: 45px;
}

.profile_pic {
  height: 100px;
  width: 100px;
}

table {
  table-layout: auto;
}

table td{
  border: 0;
}

table tr {
  border: 10px solid rgb(52, 51, 51);
}

table input {
  width: 40%;
}

delete_btn {
  margin-right: 2px;
}

.no_expenses_td{
  text-align: center; 
  font-size: 40px;
}

@media (max-width: 1200px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }

  .profile_pic {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 10px;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .profile_pic {
    width: 40px;
    height: 40px;
  }

  .no_expenses_td{
    font-size: 20px;
  }

  .report_table{
    width: 50%;
  }
}

@media (max-width: 300px) {
  img {
    width: 20px;
    height: 20px;
  }

  .no_expenses_td{
    font-size: 15px;
  }

  table img{
    width: 20px;
    height: 20px;
  }

  table button{
    font-size: 5px;
    width: 30px;
    height: 20px;
    margin-right: 5px;
  }
}



