*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

nav {
    text-align: center;
    background-color: black;
    padding: 0.5rem;
    position: fixed;
    width: 100%; 
    top: 0;
    margin-bottom: 0;
}

.links{
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 18px;
}

header {
    margin-top: 0;
    font-size: 45px;
    text-align: center;
    border: 0px solid #777777;
    background-color: #777777;
    color: white;
    width: 100%;
}

h1{
    margin-top: 2rem;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latest-album {
    background-color: #777777;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.latest-album:hover{
    background-color: black;
}

.buy-btn:hover{
    background-color: rgb(28, 149, 201);
}

.play-btn {
    background-color: #777777;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    padding-right: 2px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;
    width: 70px;
    height: 70px;
}

.play-btn:hover{
    background-color: black;
}

.logo_img{
    width: 30px;
    height: 30px;
}

.tour-item{
    padding: 10px;
}

.tour_spec_place{
    margin-left: 150px;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 211, 239);
    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 60px;
}

.tour-item{
    width: 800px;
    height: 70px;
    border-bottom: 2px solid black;
}

.buy-btn{
    float: right;
    background-color: rgb(2, 211, 239);
    color: white;
    border: 2px solid rgb(2, 211, 239);
    border-radius: 4px;
    margin-left: 5rem;
    padding: 4px 16px 4px 16px;
    font-weight: bold;
}

.maindiv{
    margin: auto;
    width: 804px;
    text-align: left;
}

